<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product ID</span></dt>
                <dd>
                    <span>{{product.productID}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{product.category}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="product.image">
                        <a (click)="openFile(product.imageContentType, product.image)">open</a>
                        {{product.imageContentType}}, {{byteSize(product.image)}}
                    </div>
                </dd>
                <dt><span>Usr</span></dt>
                <dd>
                    <div *ngIf="product.usr">
                        <a [routerLink]="['/usr', product.usr?.id, 'view']">{{product.usr?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
